<div class="setup-material">
  <form action="/createMaterial/{{user.id}}" method="POST" id="create-materials-menu">
    <label>Name:</label>
    <input type="text" name="name" id="name-the-mat" required="true" placeholder="Enter new material name">
    <label>Category:</label>
    <select name="category" required="true" id="cat-the-mat">
      <option value="">Select material category</option>
      <option value="Architecture">Architecture</option>
      <option value="Fabric">Fabric</option>
      <option value="Ground">Ground</option>
      <option value="Metal">Metal</option>
      <option value="Plant">Plant</option>
      <option value="Stone">Stone</option>
      <option value="Synthetic">Synthetic</option>
      <option value="Wood">Wood</option>
    </select>
    <div class="setup-material-buttons">
      <button type="submit">Create</button>
      <button class="cancel" type="button">Cancel</button>
    </div>
  </form>
</div>

<div class="profile-container">
  <div class="profile-wrapper">

    <div class="user-actions">
      {{!-- search by #tag --}}
      {{!-- sort by category --}}
      <div class="create-material">
        <img class="add-img" src="/images/plus.png">
      </div>
    </div>

    {{#if material}}
      {{#each material}}
        <div class="material-listing">
          <div class="material-img">
            <img src="{{this.diffuse}}" alt="Material diffuse texture" onerror="this.src='/images/no-image.jpg';">
          </div>
          <div class="material-titles">
            <div class="mat-name">
              <h5>{{this.name}}</h5>
              <h6>{{this.category}}</h6>
            </div>
            <div class="mat-category">
              <a href="/editor/{{this.id}}">View</a>
              <form method="POST" action='/delete/{{this.id}}'>
                <button>Delete</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="no-mat-msg">
        <div class="message-container">
          <h2>Click the create icon</h2>
          <div class="create-material">
            <img class="add-img" src="/images/plus.png">
          </div>
          <h2>to add a new material to your library</h2>
        </div>
      </div>
    {{/if}}

  </div>
</div>
