<div class="profile-container">
  <div class="profile-wrapper">
    <div class="user-actions">
      {{!-- search by #tag --}}
      {{!-- sort by category --}}
      <div class="create-material">
        <img src="/images/plus.png">
      </div>
    </div>
    <div class="setup-material">
      <form action="/createMaterial/{{user.id}}" method="POST">
        <label>Name:</label>
        <input type="text" name="name" id="name-the-mat" required="true">
        <label>Category:</label>
        <select name="category">
          <option value="Architecture">Architecture</option>
          <option value="Fabric">Fabric</option>
          <option value="Ground">Ground</option>
          <option value="Metal">Metal</option>
          <option value="Plant">Plant</option>
          <option value="Stone">Stone</option>
          <option value="Synthetic">Synthetic</option>
          <option value="Wood">Wood</option>
        </select>
        <button>Create</button>
      </form>
    </div>
    {{#each material}}
      <div class="material-listing">
        <div class="material-img">
          <img src="{{this.diffuse}}" alt="Material diffuse texture" onerror="this.src='/images/no-image.jpg';">
        </div>
        <div class="material-titles">
          <div class="mat-name">
            <h5>{{this.name}}</h5>
          </div>
          <div class="mat-category">
             <h6>{{this.category}}</h6>
          </div>
        </div>
        <div class="material-actions">
          <a href="/editor/{{this.id}}">View</a>
          <form method="POST" action='/delete/{{this.id}}'>
            <button>Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>