<div class="profile-container">
  <div class="profile-wrapper">
    <div class="user-actions">
      {{!-- search by #tag --}}
      {{!-- sort by category --}}
      <div class="create-material">
       <a href="/editor"><img src="/images/plus.png" alt=""></a>
      </div>
    </div>
    {{#each material}}
      <div class="material-listing">
        <div class="material-img">
          <img src="{{this.diffuse}}" alt="Material diffuse texture" onerror="this.src='/images/no-image.jpg';">
        </div>
        <div class="material-titles">
          <div class="mat-name">
            <h5>{{this.name}}</h5>
          </div>
          <div class="mat-category">
             <h6>{{this.category}}</h6>
          </div>
        </div>
        <div class="material-actions">
          <a href="/editor/{{this.id}}">View</a>
          <form method="POST" action='/delete/{{this.id}}'>
            <button>Delete</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>